/58HouseSearch/bin
/58HouseSearch/obj
/58HouseSearch/pv.json
/58HouseSearch/DomainJS/pv.json
/.vs
/58HouseSearch/Log
/58HouseSearch.Core/obj
/58HouseSearch.Core/bin
/58HouseSearch.Core/wwwroot/pv.json
