/58HouseSearch/bin
/58HouseSearch/obj
/.vs
/58HouseSearch/Log
/58HouseSearch.Core/obj
/58HouseSearch.Core/bin
/58HouseSearch.Core/NLogFile/nlog-all-2016-10-09.log
/58HouseSearch.Core/NLogFile/nlog-own-2016-10-09.log
/58HouseSearch.Core/wwwroot/pv.json
/HouseCrawler.Core/bin
/HouseCrawler.Core/obj
/58HouseSearch/58HouseSearch/bin
/58HouseSearch/58HouseSearch/obj
/HouseCrawler.Core/NLogFile
/HouseCrawler.Core/.vs
/58HouseSearch.Core/.vs
/58HouseSearch.Core/58HouseSearch.Core/obj
/HouseCrawler.Core/HouseCrawler.Core/obj
/HouseCrawler.Core/HouseCrawler.Core/bin
/HouseCrawler.Core/HouseCrawler.Core/Properties
/HouseCrawler.Core/Analyser/obj
/HouseCrawler.Core/Analyser/bin
/HouseCrawler.Core/Segmenter/bin
/HouseCrawler.Core/Segmenter/obj
/HouseCrawler.Core/HouseCrawler.Web/obj
/HouseCrawler.Core/HouseCrawler.Web/bin
/HouseCrawler.Core/Pomelo.AspNetCore.TimedJob/bin
/HouseCrawler.Core/Pomelo.AspNetCore.TimedJob/obj
/HouseCrawlerWithJava/target
/HouseCrawlerWithJava/HouseCrawlerWithJava.iml
/HouseCrawlerWithJava/housecrawler.iws
/HouseCrawlerWithJava/housecrawler.ips