 <div class="am-modal-dialog" style="width:900px;height:600px;overflow-y:scroll;">
                <div class="am-modal-hd">
                    全部城市
                    <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                </div>
                <div class="am-modal-bd">
                    <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-6 am-thumbnails" id="more-cityHouseInfo">
                        @foreach (var cityGroup in Model.GroupBy(c => c.CityName))
                        {
                            var cityName = cityGroup.First().CityName;
                            <li class="am-animation-slide-top">
                                <h2><a href="~/Home/HouseList?cityname=@cityName" target="_blank">@cityName</a></h2>
                                <p>
                                    @foreach (var cityHouseInfo in cityGroup)
                                    {
                                        var sum = cityHouseInfo.HouseSum > 9999 ? "9999+" : cityHouseInfo.HouseSum.ToString();
                                        <a href="~/Home/HouseList?cityname=@cityName&source=@cityHouseInfo.Source&intervalDay=14&houseCount=600" target="_blank">
                                            @cityHouseInfo.DisplaySource (@sum)
                                        </a>
                                        <br />
                                    }
                                </p>
                            </li>
                        }
                    </ul>
                </div>
</div>