<!doctype html>
<html class="no-js" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>地图搜房</title>
    <meta name="description" content="写点什么好呢？鬼知道呀！" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="~/hometemplate/views/IMJ2V2/css/amazeui.min.css">
    <link href="~/hometemplate/views/IMJ2V2/css/style.css" rel="stylesheet" />
    <script src="~/DomainJS/umeng.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.js"></script>

    <![endif]-->
</head>
<!--[if lt IE 9]>
<div class="am-modal am-modal-no-btn am-modal-active" tabindex="-1" id="doc-modal-1" style="display: block; width: 400px; margin-left: -200px; margin-top: -112px;">
<div class="am-modal-dialog">
<div class="am-modal-hd">365 安全卫士提醒</div>
<div class="am-modal-bd">你的浏览器太古董了，还不换一个你就奥特曼了
    <a href="http://browsehappy.com/" target="_blank" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">速速点击换一个</a>
    </div>
</div>
</div>
<![endif]-->
<body>
    <header class="m-hd">
        <section data-am-sticky class="am-show-md-up">
            <div class="am-container">
                <a href="/" rel="nofollow">Your House or Your Home</a>
                <!--        <ul class="am-fr m-about">
                            <li><a href="/about/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">关于我们</a></li>
                            <li><a href="/contact/" class="am-btn am-btn-danger am-btn-sm am-radius" rel="nofollow">联系我们</a></li>
                        </ul> -->
                <nav>
                    <ul class="m-nav am-nav am-nav-pills am-fr">
                        <li><a href="/" rel="nofollow">网站首页</a></li>
                        <li class="am-dropdown" data-am-dropdown>
                            <a href="#" rel="nofollow" class="am-dropdown-toggle" data-am-dropdown-toggle>热门城市 <span class="am-icon-caret-down"></span></a>
                            <ul class="am-dropdown-content">
                                <li><a href="~/Home/HouseList?cityname=北京" target="_blank" rel="nofollow">北京</a></li>
                                <li><a href="~/Home/HouseList?cityname=上海" target="_blank" rel="nofollow">上海</a></li>
                                <li><a href="~/Home/HouseList?cityname=广州" target="_blank" rel="nofollow">广州</a></li>
                                <li><a href="~/Home/HouseList?cityname=深圳" target="_blank" rel="nofollow">深圳</a></li>
                                <li><a href="~/Home/HouseList?cityname=杭州" target="_blank" rel="nofollow">杭州</a></li>
                                <li><a href="~/Home/HouseList?cityname=成都" target="_blank" rel="nofollow">成都</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Home/MessageList" rel="nofollow">最新动态</a></li>
                        <li><a href="#divContactLiguobao" rel="nofollow">联系我？</a></li>
                    </ul>
                </nav>
        </section>

        </div>
        <nav data-am-widget="header" class="am-header am-show-sm-only">
            <div class="am-header-left am-header-nav">
                <a href="/" rel="nofollow">
                    <i class="am-header-icon am-icon-home"></i> 首页
                </a>
            </div>
            <h1 class="am-header-title">
                <a href="/" rel="nofollow">地图搜房</a>
            </h1>
            <div class="am-header-right am-header-nav">
                <a href="#right-link" class="" data-am-offcanvas="{target: '#r-nav'}">
                    <i class="am-header-icon am-icon-bars"></i> 菜单
                </a>
            </div>
        </nav>

        <!-- 侧边栏内容 -->
        <div id="r-nav" class="am-offcanvas">
            <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                <nav class="am-offcanvas-content">
                    <a href="/" rel="nofollow"><span class="logo"></span></a>
                    <p><i class="am-icon-home"></i> <a href="/" rel="nofollow">网站首页</a></p>

                    <p><i class="am-icon-credit-card"></i> <a href="~/Home/MessageList" rel="nofollow">最新动态</a></p>
                </nav>
            </div>
        </div>
    </header>
    <div class="m-header-banner m-list-header" style="background: url(/hometemplate/views/IMJ2V2/images/news-bg.jpg) 50% 0 no-repeat fixed;">
        <section class="am-container">
            <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 314}" class="am-scrollspy-init">
                <h2>最新动态</h2>
                <p>系统公告 + 日常更新...</p>
            </hgroup>
        </section>
    </div>


    <section class="am-container m-news">
        <div class="m-container am-g">
            @*<article class="am-cf">
                <div class="am-u-lg-2 am-u-md-12 m-news-date am-hide-md-down"><span class="m-date-num">06</span>2015-09</div>
                <div class="am-u-lg-10 am-u-md-12 am-u-sm-12">
                    <h3><a href="/post/141">俊贰网络官网v1.1网站小改版</a></h3>
                    <div class="m-news-data">
                        <span><i class="am-icon-clock-o"></i> 2015-09-06</span>
                        <span><i class="am-icon-check-square-o"></i> 点击74次</span>
                        <span href="/dongtai.html"><i class="am-icon-bars"></i> 网站动态</span>
                    </div>
                    <p class="m-news-desc">俊贰网络官网进行了小修改与新配色，并升级向应式布局，一个网站兼容多个终端，多终端一体化创新设计解决方案。修改更新项目1、大屏的海报，对海报大文字加入了动态的效果。2、更换了新大logo。3、对导航进行了...</p>
                    <a href="/post/141" class="am-btn am-btn-danger am-radius am-btn-xs" rel="nofollow">READ MORE</a>
                </div>
            </article>*@
          
          
        </div>
    </section>


    <div class="m-services m-home-box" id="divContactLiguobao">
        <section class="am-container">
            <hgroup data-am-scrollspy="{animation:'slide-bottom', delay: 100}">
                <h2>联系我？试试下面的方式咯。</h2>
                @*<p>试试下面的方式咯。</p>*@
            </hgroup>
            <ul class="am-avg-lg-4 am-avg-md-4 am-avg-sm-2 am-thumbnails">
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 50}">
                    知乎：<a href="https://www.zhihu.com/people/codelover" target="_blank">李国宝</a>
                </li>
                <li data-am-scrollspy="{animation:'slide-bottom', delay: 50}">
                    GitHub: <a href=" https://github.com/liguobao/58HouseSearch" target="_blank">58HouseSearch（求Star）</a>
                </li>

                <li data-am-scrollspy="{animation:'slide-bottom', delay: 50}">
                    邮件：codelover@qq.com
                </li>
            </ul>

        </section>
        <br />
        <br />
        <br />
    </div>

    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="views/IMJ2V2/js/polyfill/rem.min.js"></script>
    <script src="views/IMJ2V2/js/polyfill/respond.min.js"></script>
    <script src="views/IMJ2V2/js/amazeui.legacy.js"></script>
    <![endif]-->
    <script src="~/hometemplate/views/IMJ2V2/js/echo.min.js"></script>
    <script>
        echo.init({
            offset: 100,
            throttle: 250,
            unload: false,
            callback: function (element, op) {
                console.log(element, 'has been', op + 'ed')
            }
        });
  // 图片赖加载
    </script>
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="~/hometemplate/views/IMJ2V2/js/jquery.min.js"></script>
    <script src="~/hometemplate/views/IMJ2V2/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src='~/hometemplate/views/IMJ2V2/js/jquery.qrcode.min.js'></script>
    <script type="text/javascript">
        $(function () {
            var str = "http://www.imj2.com";
            $("#code").qrcode({
                render: "table",
                width: 100,
                height: 100,
                text: str
            });


        })
        // 二维码生成
        //返回顶部
        function imj2() {
            this.init();
        }
        imj2.prototype = {
            constructor: imj2,
            init: function () {
                this._initBackTop();
            },
            _initBackTop: function () {
                var $backTop = this.$backTop = $('<div class="m-top-cbbfixed">' +
                    '<a class="m-top-weixin m-top-cbbtn"">' +
                    '<span class="m-top-weixin-icon"></span><div></div>' +
                    '</a>' +
                    '<a class="m-top-go m-top-cbbtn">' +
                    '<span class="m-top-goicon"></span>' +
                    '</a>' +
                    '</div>');
                $('body').append($backTop);

                $backTop.click(function () {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 120);
                });

                var timmer = null;
                $(window).bind("scroll", function () {
                    var d = $(document).scrollTop(),
                        e = $(window).height();
                    0 < d ? $backTop.css("bottom", "10px") : $backTop.css("bottom", "-90px");
                    clearTimeout(timmer);
                    timmer = setTimeout(function () {
                        clearTimeout(timmer)
                    }, 100);
                });
            }

        }
        var imj2 = new imj2();
//end返回顶部
    </script>


</body>
</html>

