
<!DOCTYPE html>
<html class="js cssanimations">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>第三方登录 - 地图搜租房</title>
    <meta name="keywords" content=" WebBookmark,Find friend base on WebBookmark ">
    <meta name="description" content="WebBookmark,Find friend base on WebBookmark">
    <base href="."><!--[if IE]></base><![endif]-->
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/assets/login/common.css" rel="stylesheet" />
    <link href="~/assets/login/icon.css" rel="stylesheet" />
    <link href="~/assets/login/link.css" rel="stylesheet" />
    <link href="~/assets/login/login.css" rel="stylesheet" />
    <link href="~/assets/login/new.css" rel="stylesheet" />
    <link href="~/assets/login/style.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://ask.amazeui.org/static/js/respond.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
</head>

<body>
    <noscript unselectable="on" id="noscript">
        &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://ask.amazeui.org/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
        &lt;/div&gt;
    </noscript>
    <div id="wrapper">
        <div class="aw-login-box">
            <div class="mod-body am-cf">
                <div class="content am-fl">
                    <h5 style="font-size:xx-large">地图搜租房</h5>
                    <p>房子是租来的,而生活不是。</p>
                    @if(Model.success){
                       <label>@Model.message ,<label id="second">3</label>秒后自动关闭此页面。<br/>点击<a href="/">此处</a>回到首页.</label>
                    }else{
                         <label class="am-text-danger">登录异常,错误信息: @Model.error </label>
                    }
                </div>
                <div class="side-bar am-fl">
                </div>
            </div>
        </div>
    </div>
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            Copyright © 2018, All Rights Reserved

            <span class="am-hide-sm-only">UI Powered By Amaze UI</span>
        </div>
    </div>
    <!-- DO NOT REMOVE -->
    <div id="aw-ajax-box" class="aw-ajax-box"></div>
    <div style="display:none;" id="__crond"><img src="./" width="1" height="1"></div>
    <!-- Escape time: 0.075984001159668 --><!-- / DO NOT REMOVE -->
        <script type="text/javascript">
           $(function() {
			var wait = $("#second").html();
			timeOut();
			/**
			 * 实现倒计时
			 */
			function timeOut() {
				if(wait != 0) {
					setTimeout(function() {
						$('#second').text(--wait);
						timeOut();
					}, 1000);
				}else{
                    window.location.href = '/';
                }
			}
		});
        </script>
</body>
</html>
