
<!DOCTYPE html>
<html class="js cssanimations">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>登录 - 地图搜租房</title>
    <meta name="keywords" content=" WebBookmark,Find friend base on WebBookmark ">
    <meta name="description" content="WebBookmark,Find friend base on WebBookmark">
    <base href="."><!--[if IE]></base><![endif]-->
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/assets/login/common.css" rel="stylesheet" />
    <link href="~/assets/login/icon.css" rel="stylesheet" />
    <link href="~/assets/login/link.css" rel="stylesheet" />
    <link href="~/assets/login/login.css" rel="stylesheet" />
    <link href="~/assets/login/new.css" rel="stylesheet" />
    <link href="~/assets/login/style.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/DomainJS/account.js"></script>
    <script type="text/javascript">
        var loginUrl = './Account/Login';
        var qqLoginURL = './Account/GetOAuthQQUrl'

    </script>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="http://ask.amazeui.org/static/js/respond.js"></script>
    <![endif]-->
    <style type="text/css">
        .fancybox-margin {
            margin-right: 0px;
        }
    </style>
</head>

<body>
    <noscript unselectable="on" id="noscript">
        &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://ask.amazeui.org/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
        &lt;/div&gt;
    </noscript>
    <div id="wrapper">
        <div class="aw-login-box">
            <div class="mod-body am-cf">
                <div class="content am-fl">
                    <h5 style="font-size:xx-large">地图搜租房</h5>
                    <p>登录后查看个人收藏房源<br />房子是租来的,而生活不是。</p>
                    <br />
                    <ul>
                        <li>
                            <input type="text" id="aw-login-user-name" class="am-form-field am-radius" placeholder="邮箱 / 用户名" name="user_name">
                        </li>
                        <li>
                            <input type="password" id="aw-login-user-password" class="am-form-field am-radius" placeholder="密码" name="password">
                        </li>
                        <li class="am-alert am-alert-danger error_message hide">
                            <i class="icon icon-delete"></i> <em></em>
                        </li>
                        <li class="last">  
                            其他账号：<a href="javascript:;" title="用QQ账号登录" id='qq_login' ><img src="https://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png" alt="Connect_logo_7.png"></a>
                            <a href="javascript:;" id="login_submit" class="am-fr am-btn am-btn-secondary am-radius">登录</a>
                            <a href="~/Account/RetrievePassword">&nbsp;&nbsp;忘记密码^-^</a>
                        </li>
                    </ul>
                </div>
                <div class="side-bar am-fl">
                </div>
            </div>
            <div class="mod-footer">
                <span>还没有账号?</span>&nbsp;&nbsp;
                <a href="~/Account/Register">立即注册</a>&nbsp;&nbsp;•&nbsp;&nbsp;
                <a href="~/">游客访问</a>&nbsp;&nbsp;•&nbsp;&nbsp;

            </div>
        </div>
    </div>
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            Copyright © 2018, All Rights Reserved

            <span class="am-hide-sm-only">UI Powered By Amaze UI</span>
        </div>
    </div>
    <!-- DO NOT REMOVE -->
    <div id="aw-ajax-box" class="aw-ajax-box"></div>
    <div style="display:none;" id="__crond"><img src="./" width="1" height="1"></div>
    <!-- Escape time: 0.075984001159668 --><!-- / DO NOT REMOVE -->

</body>
</html>
