<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/DomainJS/lib/jquery-1.11.3.min.js"></script>
    <script src="~/DomainJS/lib/Chart.js"></script>

    <script>
       $(function ()
        {
            var data = {
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: [65, 59, 90, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.5)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        data: [28, 48, 40, 19, 96, 27, 100]
                    }
                ]
            };



            //Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#pvLineChart").get(0).getContext("2d");
            //This will get the first returned node in the jQuery collection.
            new Chart(ctx);
         })
    </script>
</head>
<body>
    <div>
        <canvas id="pvLineChart" width="400" height="400"></canvas>
    </div>
</body>
</html>
