
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<!-- saved from url=(0042)http://ask.amazeui.org/?/account/register/ -->
<html class="js cssanimations">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>注册 - 地图搜租房</title>
    <meta name="keywords" content="HTML, HTML5, CSS, CSS3, JS, JavaScript, framework, Amaze UI, front-end, frontend, web development, 前端框架, 开源, meizi, meizi UI, 妹子UI, Web Components">
    <meta name="description" content="地图搜租房 Register">
    <!--<base href="http://ask.amazeui.org/?/">-->
    <base href="."><!--[if IE]></base><![endif]-->
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/assets/login/common.css" rel="stylesheet" />
    <link href="~/assets/login/icon.css" rel="stylesheet" />
    <link href="~/assets/login/link.css" rel="stylesheet" />
    <link href="~/assets/login/new.css" rel="stylesheet" />
    <link href="~/assets/login/style.css" rel="stylesheet" />
    <link href="~/assets/login/register.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/DomainJS/register.js"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
</head>
<body>
    <noscript unselectable="on" id="noscript">
        &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://ask.amazeui.org/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
        &lt;/div&gt;
    </noscript>
    <div class="aw-register-box">
        <div class="mod-head">
            <h1>地图搜租房 Register</h1>
            <p>注册后可以收藏房源信息.<br />房子是租来的,而生活不是。</p>
        </div>
        <div class="mod-body">
            <div class="aw-register-form" id="register_form">
                <ul>
                    <li class="am-alert am-alert-danger hide error_message am-text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input id="UserName" class="aw-register-name am-form-field am-radius" type="text" name="user_name" placeholder="昵称" tips="请输入一个 2-14 位的昵称" errortips="昵称长度不符合" value="">
                    </li>
                    <li>
                        <input id="UserEmail" class="aw-register-email am-form-field am-radius" type="text" placeholder="邮箱" name="email" tips="请输入你常用的电子邮箱作为你的登陆账号" value="" errortips="邮箱格式不正确">
                    </li>
                    <li>
                        <input id="UserPassword" class="aw-register-pwd am-form-field am-radius" type="password" name="password" placeholder="密码" tips="请输入 6-16 个字符,区分大小写" errortips="密码不符合规则">
                    </li>
                    <li class="more-information hide">
                        <ul>
                            <li>
                                <input id="UserPhone" class="am-form-field am-radius" type="text" placeholder="手机号码" tips="输入你的手机号码" value="">
                            </li>
                            <li>
                                <input id="UserQQ" class="am-form-field am-radius" type="text" placeholder="QQ" tips="输入你的QQ号码" value="">
                            </li>
                            <li>
                                <input type="text" class="am-form-field am-radius" placeholder="一句话介绍" id="welcome_signature" value="" name="signature">
                            </li>
                        </ul>
                    </li>
                    <li>
                        <hr>
                        <a class="more-information-btn">更多资料</a>
                    </li>
                    <li class="last">
                        <label><input type="checkbox" checked="checked" value="agree" name="agreement_chk" id="agreement_chk"> 我同意</label> <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
                        <a href="./" class="am-fr">已有账号?</a>
                        <div class="aw-register-agreement hide">
                            <div class="aw-register-agreement-txt" id="register_agreement">
                                当您申请用户时，表示您已经同意遵守本规章。<br>
                                欢迎您加入本站点参与交流和讨论，本站点为社区，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：<br>
                                <br>
                                一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：<br>
                                （一）煽动抗拒、破坏宪法和法律、行政法规实施的；<br>
                                （二）煽动颠覆国家政权，推翻社会主义制度的；<br>
                                （三）煽动分裂国家、破坏国家统一的；<br>
                                （四）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
                                （五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br>
                                （六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br>
                                （七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br>
                                （八）损害国家机关信誉的；<br>
                                （九）其他违反宪法和法律行政法规的；<br>
                                （十）进行商业广告行为的。<br>
                                <br>
                                二、互相尊重，对自己的言论和行为负责。<br>
                                三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。<br>
                                四、禁止以任何方式对本站进行各种破坏行为。<br>
                                五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录信息均被记录无疑，必要时，我们会向相关的国家管理部门提供此类信息。
                            </div>
                        </div>
                    </li>
                    <li class="am-cf">
                        <button class="am-btn btn-large btn-blue am-btn-block am-radius" id="btnRegister">注册</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mod-footer"></div>
    </div>
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            Copyright © 2018, All Rights Reserved

            <span class="am-hide-sm-only">>UI Powered By Amaze UI</span>
        </div>
    </div>
</body>
</html>