@{
    ViewBag.Title = "Retrieve Password";
}

<!DOCTYPE html>
<!-- saved from url=(0042)http://ask.amazeui.org/?/account/register/ -->
<html class="js cssanimations">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="renderer" content="webkit">
    <title>找回密码 - 地图找租房</title>
    <meta name="keywords" content="地图找租房">
    <meta name="description" content="地图找租房 Retrieve Password">
    <!--<base href="http://ask.amazeui.org/?/">-->
    <base href="."><!--[if IE]></base><![endif]-->
    <link href="~/assets/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/assets/login/common.css" rel="stylesheet" />
    <link href="~/assets/login/icon.css" rel="stylesheet" />
    <link href="~/assets/login/link.css" rel="stylesheet" />
    <link href="~/assets/login/new.css" rel="stylesheet" />
    <link href="~/assets/login/style.css" rel="stylesheet" />
    <link href="~/assets/login/register.css" rel="stylesheet" />
    <script src="~/assets/js/jquery.min.js"></script>
    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>

    <script>
        var checkUserEmailURL = '@Url.Action("CheckUserEmail")';
        var sendEmailURL = '@Url.Action("SendRetrievePasswordEmail")';
     </script>
    <script src="~/DomainJS/retrievepassword.js"></script>

</head>
<body>
    <noscript unselectable="on" id="noscript">
        &lt;div class="aw-404 aw-404-wrap container"&gt;
        &lt;img src="http://ask.amazeui.org/static/common/no-js.jpg"&gt;
        &lt;p&gt;你的浏览器禁用了JavaScript, 请开启后刷新浏览器获得更好的体验!&lt;/p&gt;
        &lt;/div&gt;
    </noscript>
    <div class="aw-register-box">
        <div class="mod-head">
            <h1>地图找租房-找回密码</h1>
            <p>房子是租来的,而生活不是。</p>
        </div>
        <div class="mod-body">
            <div class="aw-register-form" id="register_form">

                <ul>
                    <li class="am-alert am-alert-danger hide error_message am-text-left">
                        <i class="icon icon-delete"></i> <em></em>
                    </li>
                    <li>
                        <input id="UserEmail" class="aw-register-email am-form-field am-radius" type="text" placeholder="请输入注册邮箱">
                    </li>
                    <li class="am-cf">
                        <button class="am-btn btn-large btn-blue am-btn-block am-radius" id="btnSend">发送找回密码邮件到注册邮箱</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mod-footer"></div>
    </div>
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            Copyright © 2018, All Rights Reserved
            <span class="am-hide-sm-only">UI Powered By Amaze UI</span>
        </div>
    </div>
</body>
</html>