        .control-panel {
            position: absolute;
            top: 30px;
            right: 20px;
        }

       .button-panel {
            position: absolute;
            top: 30px;
            right: 20px;
        }


        .button-panel-offcanvas {
            position: absolute;
            top: 30px;
            right: 45px;
        }

       .control-commonentry {
            width: 300px;
            background-color: rgba(119, 136, 153, 0.8);
            font-family: fantasy, sans-serif;
            text-align: left;
            overflow: auto;
            padding: 10px;
            margin-bottom: 10px;
        }

        .control-entry {
            width: 400px;
            background-color: rgba(119, 136, 153, 0.8);
            font-family: fantasy, sans-serif;
            text-align: left;
            overflow: auto;
            padding: 10px;
            margin-bottom: 10px;
        }

        #transfer-panel {
            position: absolute;
            background-color: white;
            max-height: 80%;
            overflow-y: auto;
            top: 6%;
            left: 5%;
            width: 250px;
        }