<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>地图搜租房-豆瓣租房小组</title>
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/main1119.css" />
    <link rel="stylesheet" href="https://cache.amap.com/lbs/static/jquery.range.css" />
    <script src="https://webapi.amap.com/maps?v=1.3&key=8a971a2f88a0ec7458d43b8bc03b6462&plugin=AMap.ArrivalRange,AMap.Scale,AMap.Geocoder,AMap.Transfer,AMap.Autocomplete,AMap.CitySearch,AMap.Walking"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/amazeui/2.7.1/css/amazeui.min.css" />
    <link href="~/CSS/common.css" rel="stylesheet" />
    <!--引入UI组件库（1.0版本） -->
    <script src="https://webapi.amap.com/ui/1.0/main.js"></script>
    <script src="~/DomainJS/lib/require.2.1.1.min.js" defer async="true"></script>
    <script src="~/DomainJS/lib/require.2.1.1.min.js" data-main="/DomainJS/home"></script>
    @*<script src="~/DomainJS/lib/require.2.1.1.min.js" data-main="/DomainJS/housecommom"></script>*@

    <script src="~/DomainJS/umeng.js"></script>
    <script>
        var getDataAction = '@Url.Action("GetDoubanHouseInfo")';
        var getViewDefaultDataAction = '@Url.Action("GetDoubanHouseInfo")';
        var dataResource = "douban";
    </script>
</head>





<body>
    <div id="container"></div>

    <div style="position:absolute;margin-left:60px;color:red;font:500">
       <label>所有的房源信息均来自网络，本网站不对其真实性负责，特此声明。问题反馈：codelover@qq.com</label>
        <br />
       <label>豆瓣小组数据URL格式：http://codelover.link:8080/DoubanHome?groupID=小组ID&cityname=城市名</label>
        
    </div>

    <div class="button-panel-offcanvas">
        <!-- 按钮触发器， 需要指定 target -->
        <button class="am-btn am-btn-success" data-am-offcanvas="{target: '#search-offcanvas'}">上班导航</button>
    </div>
    <div class="button-panel" style="margin-top:60px;">
        <img src="IMG/Gradient/Blue.png" />0-1000
        <br />
        <img src="IMG/Gradient/PaleGreen.png" style="margin-left:3px;margin-top:10px;" />1000-2000
        <br />
        <img src="IMG/Gradient/LightGreen.png" style="margin-left:6px;margin-top:10px;" />2000-3000
        <br />
        <img src="IMG/Gradient/PaleYellow.png" style="margin-left:9px;margin-top:10px;" />3000-4000
        <br />
        <img src="IMG/Gradient/OrangeYellow.png" style="margin-left:12px;margin-top:10px;" />4000-5000
        <br />
        <img src="IMG/Gradient/PaleRed.png" style="margin-left:15px;margin-top:10px;" />5000-6000
        <br />
        <img src="IMG/Gradient/Red.png" style="margin-left:18px;margin-top:10px;" />6000-7000
        <br />
        <img src="IMG/Gradient/Pink.png" style="margin-left:20px;margin-top:10px;" />7000-8000
        <br />
        <img src="IMG/Gradient/Violet.png" style="margin-left:22px;margin-top:10px;" />8000-9000
        <br />
        <img src="IMG/Gradient/Black.png" style="margin-left:24px;margin-top:10px;" />9000 +
    </div>

    <!-- 侧边栏内容 -->
    <div id="search-offcanvas" class="am-offcanvas">
        <div class="am-offcanvas-bar am-offcanvas-bar-flip" style="width:330px;z-index:-999">
            <div class="am-offcanvas-content">

                @*<div class="control-commonentry" id="divOffcanvas">
                    <div>
                        <label>当前访问量：</label>
                        <label id="lblPVCount"></label>
                    </div>
                </div>*@

                <div class="control-commonentry">
                    <div>
                        <a href="~/Home">回到首页</a>
                        <a href="~/HonestHouse" style="margin-left:20px;">58同城诚信房源</a>
                        <br />
                        <a href="~/DoubanHome?groupID=shanghaizufang&cityname=上海" target="_blank">豆瓣租房(上海)</a>
                        <a href="~/DoubanHome?groupID=26926&cityname=北京" style="margin-left:20px;" target="_blank">豆瓣租房(北京)</a>
                        <br />
                        <a href="~/DoubanHome?groupID=szzf&cityname=深圳" target="_blank">豆瓣租房(深圳)</a>
                        <a href="~/DoubanHome?groupID=gz020&cityname=广州" style="margin-left:20px;" target="_blank">豆瓣租房(广州)</a>
                    </div>
                </div>

                <div class="control-commonentry">
                    <div id="IPLocation"><label>互助租房-高德搜房-上海专版</label></div>
                </div>

                @*<div class="control-entry">
                        <label>价格区间：</label>
                        <input id="costFrom" type="text" style="width:20%"  disabled="disabled"/> 到
                        <input id="costTo" type="text" style="width:20%"  disabled="disabled"/>
                        <input id="Get58Data" type="button" value="获取数据" class="am-btn am-btn-default" style="margin-left:10px;" disabled="disabled" />
                    </div>*@

                <div class="control-commonentry">
                    <label>选择工作地点：</label>
                    <div class="control-input">
                        <input id="work-location" type="text" style="width:60%;">
                    </div>


                </div>
                <div class="control-commonentry">
                    <label>选择通勤方式：</label>
                    <div class="control-input">
                        <input type="radio" name="vehicle" value="SUBWAY,BUS" onclick="takeBus(this)" checked /> 公交+地铁
                        <input type="radio" name="vehicle" value="SUBWAY" onclick="takeSubway(this)" /> 地铁
                        <input type="radio" name="vehicle" value="WALKING" onclick="takeWalking(this)" /> 步行
                    </div>
                </div>

                <div class="control-commonentry">
                    <label>参考代码：</label>
                    <div class="control-input">
                        <a href="https://github.com/liguobao/58HouseSearch">Github源码（无耻求收藏）</a>
                        <br />
                        <a href="http://weibo.com/u/5389952376?refer_flag=1001030101_&is_hot=1">互助租房-微博</a>
                        <br />
                        <a href="https://zhuanlan.zhihu.com/p/21883516">高德API+Python解决租房问题</a>
                    </div>
                </div>

                <div class="control-commonentry">
                    <label>问题反馈：</label>

                    <br />
                    <a href="https://github.com/liguobao/58HouseSearch/issues">改进建议: Github Issues</a>
                    <br />
                    <a>联系邮箱: codelover@qq.com</a>
                </div>
            </div>
        </div>
    </div>

    <div id="transfer-panel"></div>

</body>

</html>